@import "material-ui/scaffolding.less";

// This is where you would optionally add your styles.

// Feel free to leverage the styles below in order to implement the header in
// the sidebar.

// .logo {
//   cursor: pointer;
//   .mui-font-style-headline;
//   .mui-text-full-white;
//   line-height: @app-bar-height;
//   .mui-font-weight-light;
//   background-color: @primary-1-color;
//   padding-left: @desktop-gutter;
//   padding-top: 0;
//   margin-bottom: @desktop-gutter-mini;
// }

@import "material-ui/components.less";

body {
  max-width: 75%;
  margin: 0 auto;
}

.mui-app-bar {
  display: none;
}

table {
  border-collapse: separate;
  padding: 5px 15px;
}

td, th {
  width: 20%;
  height: 25px;
}

th {
  font-weight: 600;
}
